@import "tailwindcss";

@theme {
  --color-bg: #0A0A12;
  --color-accent: #4CFFBC;
  --color-muted: #7F7F86;
  --color-card: #12121C;

  --font-sans: Inter, ui-sans-serif, system-ui;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: white;
  font-family: var(--font-sans);
}